@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
/* Box sizing rules */
.font-family-outfit{
  font-family: 'Outfit', system-ui, sans-serif; ;
}

.font-family-inter{
  font-family: 'Inter', system-ui, sans-serif;
}

:root{
  --bg-clr-100: #FFF;

  --text-clr-white: white;
  --text-clr-100: #1B253C;
  --text-clr-200: #1B253C;

  /* primary */

  --clr-primary-100: #1d4ed8;
  --clr-primary-200: #2e77f7;

  --clr-secondary-100: #00e676;
  --clr-secondary-200: #359c61;
  --clr-secondary-300: #2d8653;

  --box-bg-clr-100: #FDFDFD;
  --box-bg-clr-200: #F8F8F8;
  --box-bg-clr-300: #f1f1f1;
  --clr-circle-bg: var(--clr-secondary-100);

  
}


html[data-theme='system']{
  --bg-clr-100: #FFF;
  
    --text-clr-100: #1B253C;
    --text-clr-200: #1B253C;
  
    /* primary */
  
    --clr-primary-100: #1d4ed8;
    --clr-primary-200: #2e77f7;
  
    --clr-secondary-100: #00e676;
    --clr-secondary-200: #359c61;
    --clr-secondary-300: #2d8653;
  
    --box-bg-clr-100: #FDFDFD;
    --box-bg-clr-200: #F8F8F8;
    --box-bg-clr-300: #f1f1f1;

    --clr-circle-bg: green;
}

html[data-th='contrast']{
  --bg-clr-100: #000000;
  
    --text-clr-white: black;
    --text-clr-100: #ffffff;
    --text-clr-200: #ffffff;
  
    /* primary */
  
    --clr-primary-100: yellow;
    --clr-primary-200: #b6b60f;
    --clr-primary-300: #aaaa00;
  
    --clr-secondary-100: #00ff84;
    --clr-secondary-200: #0d7038;
    --clr-secondary-300: #0d7038;

    --clr-secondary-100-op50: hsla(151, 100%, 50%, 0.769);
  
    --box-bg-clr-100: #242424;
    --box-bg-clr-200: #444444;
    --box-bg-clr-300: #0f0f0f;

    --clr-circle-bg: yellow;
}


.circle-background{
  background-color: var(--clr-circle-bg);
}

html[data-th='contrast'] .hero-image img{
  display: none;
}

.footer-box{
  background-color: hsla(151, 73%, 57%, 0.454);
}

html[data-th='contrast'] .footer-box{
  background-color: var(--box-bg-clr-100);
}
.footer-box-link{
  background-color: var(--clr-primary-100);
  color: var(--text-clr-white);
}

.footer-box-link:hover{
  background-color: var(--clr-primary-200);
}



body{
  background-color: var(--bg-clr-100) !important;
}

p{
  color: var(--text-clr-100);
}



.text-clr-100{
  color: var(--text-clr-100);
}

.text-clr-200{
  color: var(--text-clr-200);
}

.container-bg{
  background: var(--box-bg-clr-100);
}

.searchform{
  background: var(--box-bg-clr-100);
}

.card__schedule{
  background: var(--box-bg-clr-200);
}

.card-visit-bg{
  background: var(--box-bg-clr-200);
}

.icon-clr{
  color: var(--clr-primary-100);
}

.icon-clr :is(:hover, :active) {
  color: var(--clr-primary-200);
}

.dashboard__form .dashboard__item{
  margin-block: 1rem;
}
footer ul > li :not(ul > .nav-item){
  font-weight: 300;
}
footer ul>li{
  font-weight: 600;
  color: var(--text-clr-200);
}


.container_bg_layer{
  position: absolute;
  z-index: 999;
  background-image: linear-gradient(#1b253c41, #2e78f788);
  width: 100%;
  height: 100%;
}


html{
  font-family: 'Inter', system-ui, sans-serif;}


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}